# Ignore everything inside frontend
frontend/*

# Allow only these two files
!frontend/Dockerfile
!frontend/nginx.conf.template

# Backend build artifacts
backend/target/
backend/*.jar

# Env & secrets
env/*.env
secrets/

# Logs & runtime
logs/
volumes/

