############################
# RUNTIME SYNCED CODE
############################

frontend/app/
backend/app/


############################
# BUILD OUTPUTS
############################

backend/target/
backend/*.jar


############################
# SECRETS / CERTS
############################

env/*.env
secrets/
certs/


############################
# RUNTIME / LOCAL DATA
############################

logs/
volumes/
backup.sql
backup_before_prod_refactor_*.tar.gz


############################
# OS / TOOLING
############################

.DS_Store
*.log

